<h1>Your Links</h1>



 <% unless @user.links.any? %>
 <div class="index">
   <p><strong>Your links are empty, add some with the 'New Link'</strong></p>
 </div>
 <% else %>

  <h5 id="rank">Rank</h5>
    <% @user.links.each do |link| %>
      <div class="index">
        <span class="badge pull-left votes"><%= link.votes %></span>
        <p>
           <%= link_to "#{link.title}", user_link_path(@user, link), class: "title" %>
           <%= link_to "#{link.url}", link.url, :style => "color: red;", :target => "_blank" %>
           <%= link_to 'Delete', user_link_path(@user, link), method: :delete, class: "btn btn-danger btn-xs pull-right", data: {confirm: "are you sure you want to delete this link?"} %>
           <%= link_to 'Details', user_link_path(@user, link), class: "btn btn-success btn-xs pull-right" %>
           <%= link_to 'Edit', edit_user_link_path(@user, link), class: "btn btn-success btn-xs pull-right" %>
           <%= link_to "#{link.comments.count} " + "comments", link_comments_path(link), class: "btn btn-default btn-xs pull-right btn-dislinke" %>
        </p>
      </div>
    <% end %><br/>
   <br/>
  <%= will_paginate @links %>
  <%= link_to 'Back', root_path, class: "btn btn-info" %>
<% end %>