<!DOCTYPE html>
<html>
<head>
  <title>The Missing Link</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= @test_page ? 'ppage' : ''%>">
  <%= render "layouts/navbar" %>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
